<!-- ▶ State: Esperando búsqueda -->
@if (state === 'idle') {
    <div class="state-box">
        <p class="msg">{{ messageIdle }}</p>
    </div>
}

<!-- ▶ State: Loading -->
@if (state === 'loading') {
    <div class="state-box">
        <div class="spinner"></div>
        <p class="msg">{{ messageLoading }}</p>
    </div>
}

<!-- ▶ State: No results -->
@if (state === 'empty') {
    <div class="state-box">
        <p class="msg">{{ messageEmpty }}</p>
    </div>
}

@if (state === 'success') {
    <ng-content></ng-content>
}
