<div class="container__movies__search">
    <div class="form__movie" autofocus>
        <app-input-search (queryChange)="searchMovies($event)"></app-input-search>
    </div>

    @if (status() == 'IDLE') {
        <h1>Busca una pelicula, por su titulo.</h1>
    } @else if (status() == 'SEARCHING') {
        <div class="content__movies__search">
            @for (_ of [].constructor(6); track $index) {
                <app-card-movie-skeleton/>
            }
        </div>
    } @else if (status() == 'EMPTY_LIST') {
        <h1>Ninguna coincidencia</h1>
    } @else if (status() == 'ERROR_SEARCH') {
        <h1>Error en la busqueda</h1>
    } @else if (status() == 'SUCCESS_SEARCH') {
        <div class="content__movies__search">
            @for (movie of movies(); track movie.id) {
                <app-card-movie-ui
                    [title]="movie.title"
                    [posterUrl]="movie.poster_path ?? ''"
                    [rating]="movie.vote_average"
                    [year]="movie.release_date?.slice(0, 4)"
                ></app-card-movie-ui>
            }
        </div>
    }

</div>