<div class="card__movie__container">
    <div class="image__container">
        <img alt="No image" [src]="getPosterUrl(moviesCatalog()?.poster_path)">
    </div>
    <div class="bodi__card">
        <h3 class="title_movie">{{ moviesCatalog()?.title }}</h3>
        <div class="punctuations__container">
            <div class="movie__rating">
                <mat-icon class="stars__movie">stars</mat-icon>
                <span>{{ moviesCatalog()?.vote_average }}</span>
            </div>
            <div class="thumbs">
                <mat-icon class="icon__thumb thumb__up">thumb_up</mat-icon>
                <mat-icon class="icon__thumb thumb__down">thumb_down</mat-icon>
            </div>
        </div>
        <div class="footer__card__movie">
            <span>Reproducir ahora</span>
            <mat-icon>play_arrow</mat-icon>
        </div>
    </div>
</div>

