
.content__movies {
    display: grid;
    max-width: 1290px;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, var(--card-size-xs));
    column-gap: 0.4rem;
    row-gap: 1.5rem;
}

@media screen and (min-width: 345px) {
    .content__movies {
        grid-template-columns: repeat(2, var(--card-size-sm));
    }
}

@media screen and (min-width: 540px) {
    .content__movies {
        column-gap: 0.5rem;
        row-gap: 1.5rem;
    }
}

@media screen and (min-width: 760px) {
    .content__movies {
        grid-template-columns: repeat(3, 230px);
        column-gap: 0.5rem;
        row-gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .content__movies {
        grid-template-columns: repeat(4, 210px);
        column-gap: 0.5rem;
        row-gap: 1.5rem;
    }
}
