@if (authService.isLogged()) {
    <app-navbar-ui
        [user]="navUser()"
        [uploadCount]="activeUploads()"
        [activeRoute]="activeRoute()"
        (navClick)="onNavClick($event)"
        (logoClick)="onNavClick('/movies')"
        (uploadClick)="uploadsDrawerOpen.set(true)"
        (notificationsClick)="onNotificationsClick()"
        (profileClick)="onProfileClick()"
        (searchSubmit)="onSearch($event)"
        (logoutClick)="logout()"
    ></app-navbar-ui>
} @else {
    <app-navbar-ui
        [uploadCount]="activeUploads()"
        [activeRoute]="activeRoute()"
        (navClick)="onNavClick($event)"
        (logoClick)="onNavClick('/movies')"
        (uploadClick)="uploadsDrawerOpen.set(true)"
        (notificationsClick)="onNotificationsClick()"
        (signInClick)="startLogin()"
        (searchSubmit)="onSearch($event)"
    ></app-navbar-ui>
}

<ng-content></ng-content>

<app-footer></app-footer>

<app-upload-drawer [(isOpen)]="uploadsDrawerOpen" />

<app-toast-container />
