.container__mini__card {
    max-width: 550px;
    min-width: 300px;
    height: 140px;
    background-color: #000000;
    border-radius: 14px;
    padding: 6px 12px;
    display: flex;
    overflow: hidden;
    margin: 17px 0;
    cursor: pointer;
}


.container__data__movie {
    flex: 1;
    margin-left: 10px;
}

img {
    width: 88%;
    height: auto;
    object-fit: fill;
}

.image__movie {
    width: 100px;
    height: 100%;
}

.description__movie {
    flex: 1;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*white-space: nowrap;      /* Evita que el texto haga salto de línea */
}

.title__movie {
    height: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
